body{
  text-align: center
}
.content{
  width:90%;
  margin-left: 100px;
  margin-top: 100px;
  left: 50%;

  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
  /* text-shadow: 1.5px 1.5px black; */
  align-items: center;

}
.text{
  border-color: red;
  border: 10px solid red;
  border-radius: 5px;
  
}
.textBox{
  height: 20px;
  margin-left: 5px;
}
#bookName{
  width: 60px;
}
#chapter{
  width: 30px;
}
#verse{
  margin-left: 0px;
  width: 30px;
}
#search{
  margin-left: 20px;

  width:100px
}